/*IMPORTANT*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Raleway";
    background: var(--secondaryShade);
    color: white;
    --primary: rgb(211, 13, 13);
    --primaryShade: white;
    --secondaryShade: rgb(51, 48, 54);
    --tertiaryShade: rgb(32, 32, 39);
}

*::-webkit-scrollbar {
    width: 14px;
    background: var(--secondaryShade);
}

*::-webkit-scrollbar-thumb {
    background: var(--secondaryShade);
    box-shadow: rgba(255, 255, 255, 0.2) inset 0 0 0 1000px;
    width: 100%;
    transition: all 0.3s;
}

*::-webkit-scrollbar-thumb:hover {
    background: #36394580;
    box-shadow: rgba(255, 255, 255, 0.4) inset 0 0 0 1000px;
}

* {
    all: unset;
}

title {
    display: none;
}


/* Network Visuals */

.networkManagerParent {
    border-radius: 8px;
    padding: 20px;
}

.networkParent {
    display: flex;
    gap: 10px;
    position: relative;
    justify-items: center;
    align-items: center;
}

.perceptronLayer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputPerceptronLayer div {
    background: rgb(0, 216, 0);
}

.hiddenPerceptronLayer div {
    background: rgb(255, 119, 8);
}

.outputPerceptronLayer div {
    background: rgb(230, 0, 0);
}

.perceptronLayer div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.descriptionLayer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputDescriptionLayer p {
    text-align: right;
}

.descriptionLayer p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}